/* Reset padrão */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fontes */
html {
    font-size: 62.5%;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* altura mínima para preencher a tela inteira */
}

h1 {
    text-align: center;
}

/* Estilos para o cabeçalho */
header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.card-form {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 20px;
}

.card h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    text-align: justify;
    margin-bottom: 20px;
    line-height: 1.5;
}

.card span {
    font-size: 14px;
    font-style: italic;
    text-align: right;
}

.logo-container {
    margin-left: 0.5em;
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.website-name {
    font-family: 'Karantina';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #FFFFFF;
    margin: 0px;
}

.search-container {
    display: flex;
    align-items: flex-start;
    margin-right: 1em;
}

.horizontal-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.horizontal-list li {
    display: inline-block;
    margin-right: 10px;
}

.horizontal-list li:last-child {
    margin-right: 0;
}

.horizontal-list li a {
    display: inline;
    padding: 5px 10px;
    text-decoration: none;
    color: white;

}

.horizontal-list li a:hover {
    background-color: greenyellow;
    color: black;
}

input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-right: 5px;
}

button[type="submit"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: black;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

}

nav {
    background-color: black;
    color: white;
    font-style: normal;
    line-height: 5vh;
    width: auto;
    height: fit-content;
    padding: 1vh;
    top: auto;
    bottom: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 5px 0;
}

nav a {
    display: block;
    padding: 5px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    font-weight: bold;
    text-decoration: underline;
}

article {
    flex: 1;
    padding: 10px;
    flex-wrap: wrap;
}

article h2 {
    margin-top: 0;
}

article p {
    line-height: 1.5;
}

.img {
    display: flex;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}

/* Estilos para o rodapé */
footer {
    background-color: black;
    color: white;
    padding: 0.3em;
    text-align: right;
    margin-top: auto;
    height: auto;
    width: auto;
}

footer a {
    color: greenyellow;
}

/* Responsivo */
@media only screen and (max-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media only screen and (max-width: 576px) {
    .container {
        max-width: 540px;
    }

    .btn {
        display: block;
        width: 100%;
    }

    .col {
        flex-basis: 100%;
        max-width: 100%;
    }
}